.announcements {
    padding: 20px 15px;
}

.ann-grid {
    margin-top: 10px;
    padding: 25px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 15px 1fr 15px 1fr;

    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.ann-grid-item {
    justify-self: center;
    align-self: center;
}

.ann-title {
    font-size: 0.8rem;
}

.ann-desc {
    font-size: 0.75rem;
    opacity: 0.7;
    margin-top: 2px;
}

hr {
    align-self: center;
    justify-self: center;
    border: 0.5px solid black;
    opacity: 0.1;
    width: 100%;
}

.trending {
    padding: 20px 15px;
}

.trending-grid {
    margin-top: 10px;
    padding: 20px;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 25px;

    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.trending-grid-item {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-columns: 60px 1fr;

    align-items: center;

}

.item-pfp {
    height: 40px;

    &>img {
        width: 40px;
        border-radius: 50%;
    }
}

.item-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;

    & p {
        font-size: 0.8rem;
    }
}

.item-info p+p {
    opacity: 0.6;
}