h3 {
    font-size: 1.2rem;
}

.projects, .activities {
    background-color: #eff6ff;
}

.projects {
    padding: 20px 15px;
}

.projects-container {
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 150px);

    gap: 20px 20px;
    margin-top: 10px;
}

.project-card {
    position: relative;

    display: grid;
    grid-template-rows: 20px 20px 75px 25px 10px;

    background-color: white;
    padding: 0 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

    border-radius: 8px;

}

.project-card::before {
    content: "";
    background: #93c5fd;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.project-title {
    grid-row: 2;
}

.project-desc {
    font-size: 0.8rem;
    grid-row: 3;
    opacity: 0.7;
    margin-top: 2px;
}

.card-icons-grid { 
    grid-row: 4;
    justify-self: right;
    display: grid;
    grid-template-columns: 40px 40px 40px;
}

.card-icon>img {
    width: 20px;
    cursor: pointer;
}